html { font-family: Candara, Trebuchet MS, Arial, sans-serif;
       color: black}

body 
{
    height:100%;
    
}

#header
{
	left:10px;
        right:10px;
	font-size:18px;
	font-weight:bold;
	line-height:40px;
	color:grey;
        background-color: #222;
        border-color: #080808;
        box-shadow: 0 0 5px rgba(0,0,0,.8);
}
#footer
{
	font-weight:bold;
	background-color:#222;
	color:grey;
        position: relative;
        left:10px;
        right:10px;
        bottom: 10px;
        border-color: #080808;
        box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.topmenu
{
        height:40%;
	text-align: center;
	vertical-align:	top;
        background-color: #1a1a1a;
        
        margin-left:20px;
        margin-right:20px;
        font-family: monospace;
        color: #b38f00;
        text-align:left;
        font-size: 18px;
        font-weight: bold;
        
}


.indent 
{ 
    margin-left: 20px;
    margin-right:20px;
   
    
}

.icon{
    font-size: 18px;
    color: grey;
    margin-right:30px;
    float:right;
}
.post{
    background-color:gold;
    font-size: 15px;
    color:#337ab7;
}
.postindent 
{ 
    margin-left: 20px;
    margin-right:20px;
    font-family: monospace;
    color: #b38f00;
    text-align:left;
    font-size: 18px;
    font-weight: bold;
    background-color:  #1a1a1a;
}

.postindent table tr td{
    border-width: 1px;
    border-color: white;
    border-style: dashed;
    padding: 10px;
    text-align:left;
    font-size: 15px;
    
}

.postindent div{
    color:white;
    border-width: 1px;
    border-color: white;
    border-style: dashed;
    padding: 5px;
    text-align:center;

}

.postindent div.one{
    color:white;
}

.postindent span{
    font-size: 1.5em;
}

.topmenu span{
    font-size: 1em;
}


#head{
        font-size:18px;
	font-weight:bold;
	line-height:40px;
	color:white;
        background-color:  #1a1a1a;
       
}