html { font-family: Candara, Trebuchet MS, Arial, sans-serif;
       color: black}

body 
{
    height:100%;
}

#header
{
	left:10px;
        right:10px;
	font-size:18px;
	font-weight:bold;
	line-height:40px;
	color:grey;
        background-color: #222;
        border-color: #080808;
        box-shadow: 0 0 5px rgba(0,0,0,.8);
}
#footer
{
	font-weight:bold;
	background-color:#222;
	color:white;
        position: relative;
        left:10px;
        right:10px;
        bottom: 10px;
        border-color: #080808;
        box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.topmenu
{
        height:80%;
	text-align: center;
	vertical-align:	top;
        background-color: #f5f5f5;
        margin-left:20px;
        margin-right:20px;
}


.indent 
{ 
    margin-left: 20px;
    margin-right:20px;
}

.icon{
    font-size: 18px;
    color: grey;
    margin-right:30px;
    float:right;
}

