html { font-family: Candara, Trebuchet MS, Arial, sans-serif;
       color: black}

body 
{
    height:100%;
}

#header
{
	left:10px;
        right:10px;
	font-size:18px;
	font-weight:bold;
	line-height:40px;
	color:grey;
        background-color: #222;
        border-color: #080808;
        box-shadow: 0 0 5px rgba(0,0,0,.8);
}
#footer
{
	font-weight:bold;
	background-color:#222;
	color:grey;
        position: relative;
        left:10px;
        right:10px;
        bottom: 10px;
        border-color: #080808;
        box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.sidemenu
{
        height:80%;
	text-align: center;
	vertical-align:	top;
        background-color: #ffcc00;
}


.indent 
{ 
    margin-left: 20px;
}

.icon{
    font-size: 18px;
    color: grey;
    margin-right:30px;
    float:right;
}

.notice:first-child{
    margin-top:10px;
    }
.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
